Language: python
python:
- 3.4.1
install: sudo pip install -r requirements.txt
script: python manage.py test
env:
  global:
  - secure: ovTIJfqlE9BuCyS503C1LG22uykD//fXLkSFn+rcPxFQOIQZ+paII+tvRfaeUqOrSXSWcBz+3UqTo1XH5W/TSXMDUOzQHGU81LZ1cKAji5JsKg+vFWCaMpKwqOZ+aQGOXy6CA9ubB9P6u+ru5mZX5UHkjrdrqTgwC1RX+d6pBRU=
  - secure: CtlNWYiwUBIpFjD1qIyYztxy3deigWs15eIiJEJobTkB3JDmAnK2o9eoSAq75GD8KGqqkCovIQUZCeCVGgJ0VgTaiBu0PuQId1hFV1/c0aKF6DtB+z086aSY1vK5PN3xENzKB1RS49cMp4+74glyE61a7p7Ux2sEMLyUXsIPlsw=
  - secure: P7Ka4+psZuJqjg5NL+7PB9ai79zjm7tkjY9/EiniDk8hS7O89D/GRm2mwoX0iBwdhKFL0zwiV08Y+IZXHXZakSa3JXgtKJZZgMp0Ck0ct9+jff1xG/aWChkP2SY1VkTDytcLu1lT/KFG6zBDDb0esGa28mwDEKwhncSPhj6anEg=
deploy:
  provider: heroku
  api_key:
    secure: kurkoR2wfwKHiiJhvb3P1WIkCjhQN15rJHI2+uLrbcsgCRhnUrsgSxYwhtH7UyWxrTzaa9bnPJzCtFowmjr4fpKoln+AgUoPqf/BlPUXW9XJsBTth82PlrezFthijLE80Ci0o0rh3vn/dpRElq8msJULzGvq4VyFn/mgQZVPdVs=
  app: cc-backend
  on:
    repo: Jon3d/concertconnect_backend
    run: 
      - "rake db:migrate"
      - runstart
